.ratesContainer {
  align-items: center;
  background: cadetblue;
  border-radius: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 800px;
}
.converterContainer {
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  justify-content: center;
  margin-bottom: 20px;
  padding: 40px;
}

.inputContainer {
  margin-bottom: 10px;
}

.ratesList {
  margin-top: 10px;
}

.header {
  font-size: 35px;
  text-align: center;
}

.rates {
  border-radius: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  padding-block: 10px;
}

.label {
  margin-right: 10px;
}
