.converterContainer {
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  justify-content: center;
  margin-bottom: 20px;
  padding: 40px;
}

.container {
  align-items: center;
  background: cadetblue;
  border-radius: 20px;
  display: flex;
  height: 200px;
  justify-content: space-around;
  width: 800px;
}

.inputContainer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.resultContainer {
  margin-top: 10px;
}

.header {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  text-align: center;
}

.label {
  color: brown;
  font-size: 20px;
  margin-right: 10px;
}

.lastLabel {
  color: forestgreen;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

