.converterContainer {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.ratesContainer {
  border: 1px solid #ccc;
  padding: 20px;
}

.inputContainer {
  margin-bottom: 10px;
}

.resultContainer {
  margin-top: 10px;
}

.ratesList {
  margin-top: 10px;
}
